# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
logs
*.log
logs/*.log

# Cobertura de tests
coverage/
.nyc_output/

# Archivos temporales o de caché
*.tmp
*.temp
*.cache
.tmp/
.cache/
dist/
build/

# Editor / IDE
.vscode/
.idea/
*.swp

# Archivos de nodemon
.pids
.pid.lock

# Archivos de despliegue o dependencias opcionales
package-lock.json
yarn.lock

# Archivos generados por pruebas locales
*.sqlite
*.db
